{% extends 'shop/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block links %}

 <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">
{% endblock links %}
{% block style %}

.container {
  max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }

{% endblock style %}
{% block content %}




<div class="container">
      <div class="py-5 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        <h2>Checkout form</h2>
        <p class="lead">Please fill the below form correctly. We will send you an email for order confirmation on your registered email-id after completion of the checkout process.</p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            
          </h4>
          <ul class="list-group mb-3">
          {% for cart_item in cart_items %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{ cart_item.item.name }}</h6>
                
              </div>
              <span class="text-muted">&#x20b9;{{ cart_item.get_total_price}}</span>
            </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (INR)</span>
              <strong>&#x20b9;{{ total }}</strong>
            </li>
          </ul>

          
        </div>

        <div class="col-md-8 order-md-1">


            <h4 class="mb-3">Billing address</h4>
                <form method="POST">

                {% csrf_token %}
                {{ form|crispy }}
                


            
            <hr class="mb-4">

            <h4 class="mb-3">Payment: Cash on Delivery</h4>

            
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>






{% endblock content %}